---
---
<!DOCTYPE html>
{% include head.html %}
{% include home_header.html %}
{% include random_url.html %}

<div id="home-index">
	<div class="home-wrapper">
		<div class="row">
			<div class="home-left">
				<div id="side-details">
					<a href="https://docs.google.com/forms/d/1GR2ZTofNRkkpsH24wntZKZRBGc2ekZaH2nQT2xKZaD4/viewform" style="margin-bottom:0px" class="button">Contribute to the Project</a>
					<li class="side-header"><a href="" onclick="event.preventDefault(); changeRandomURL();" id="refresh"><img class="refresh-icon" src="images/resources/refresh-icon.svg"></a>Read a Random Note</li>
					<ul>
						<li class="sidelink"><a id="random_link" href=""></a></li>
						<script type="text/javascript">changeRandomURL();</script>
					</ul>
				</div>
			</div>
			<div class="home-right">
				<p id="about">Schulich Notes is an <b>online reference</b> containing course notes written by medical students at the <a href="http://www.schulich.uwo.ca/">Schulich School of Medicine &amp; Dentistry</a>. We aim to make a resource that will facilitate studying, review, and exam preparation. Originally written and developed by <strong>Kevan Lu</strong>, the site has now expanded to include contributions from any Schulich medical student.</p>
			</div>
		</div>
	</div>
</div>
<div class="home-divider">
	<div class="home-wrapper">
		<div class="row">
			<div class="home-left"><div class="home-reference-number"><i class="fa fa-heart"></i></div></div>
			<div class="home-right">
				<div class="home-reference-title">Contributors</div>
			</div>
		</div>
	</div>
</div>
<div class="home-wrapper">
	<div class="home-offset">
		<div class="reference contributors">
			<div class="row">
				<div class="contributor" id="kevanlu">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/kevanlu.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#kevanlu">Kevan Lu</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="tehminaahmad">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/tehminaahmad.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#tehminaahmad">Tehmina Ahmad</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="andrewarifin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/andrewarifin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#andrewarifin">Andrew Arifin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2018</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="nicolearseneau">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/nicolearseneau.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#andrewarifin">Nicole Arseneau</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2018</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="jeremychitpin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/jeremychitpin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#jeremychitpin">Jeremy Chitpin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="pauldolinar">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/pauldolinar.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#pauldolinar">Paul Dolinar</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2018</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="omerdost">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/omerdost.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#omerdost">Omer Dost</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="sularaguruge">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/sularaguruge.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#sularaguruge">Sulara Guruge</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="keeganguidolin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/keeganguidolin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#keeganguidolin">Keegan Guidolin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="billhuang">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/billhuang.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#billhuang">Bill Huang</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="jamesjae">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/jamesjae.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#jamesjae">James Jae</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="jordanlafranier">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/jordanlafranier.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#jordanlafranier">Jordan Lafranier</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2018</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="jplarkin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/jplarkin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#jplarkin">John Paul Larkin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="vincele">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/vincele.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#vincele">Vince Le</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="karimmanji">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/karimmanji.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#karimmanji">Karim Manji</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="stephmuise">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/stephmuise.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#stephmuise">Steph Muise</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="hanyan">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/hanyan.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#hanyan">Han Yan</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="charlesyin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/charlesyin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#charlesyin">Charles Yin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2018</code></li>
						</ul>
					</div>
				</div>
				<div class="contributor" id="junsunnyyin">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/junsunnyyin.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#junsunnyyin">Jun Sunny Yin</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="andrewzaleski">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/andrewzaleski.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#andrewzaleski">Andrew Zaleski</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
				<div class="contributor" id="peijunzhao">
					<div class="contributor_pic">
						<img class="author_pic" src="/resources/images/people/peijunzhao.jpg">
					</div>
					<div class="contributor_desc">
						<li class="contributor_link"><a href="#peijunzhao">Pei Jun Zhao</a></li>
						<ul>
							<li class="contributor_line">Insert Description here.</li>
							<li><code class="grad_year">Meds 2017</code></li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
</body>
</html>