---
---
<!DOCTYPE html>
{% include head.html %}
{% include home_header.html %}
<div id="home-index">
	<div class="home-wrapper">
		<div class="row">
			<div class="home-left"></div>
			<div class="home-right">
				<div class="row">
					<div class="half-page">
						<div id="home-index-year">Year 1</div>
						<ul>
							<li><a href="{{ site.course_url }}/blood">Blood</a></li>
							<li><a href="{{ site.course_url }}/skin">Skin Week</a></li>
							<li><a href="{{ site.course_url }}/cardiology">Heart &amp; Circulation</a></li>
							<li><a href="{{ site.course_url }}/respirology">Respiration &amp; Airways</a></li>
							<li><a href="{{ site.course_url }}/genitourinary">Genitourinary System</a></li>
						</ul>
					</div>
					<div class="half-page">
						<div id="home-index-year">Year 2</div>
						<ul>
							<li><a href="{{ site.course_url }}/gastrointestinal">Digestive System &amp; Nutrition</a></li>
							<li><a href="{{ site.course_url }}/endocrinology">Endocrine &amp; Metabolism</a></li>
							<li><a href="{{ site.course_url }}/reproduction">Reproduction</a></li>
							<li><a href="{{ site.course_url }}/musculoskeletal">Musculoskeletal System</a></li>
							<li><a href="{{ site.course_url }}/emergency">Emergency Care Week</a></li>
							<li><a href="{{ site.course_url }}/neurology">Neuroscience, Ear &amp; Eye</a></li>
							<li><a href="{{ site.course_url }}/psychiatry">Psychiatry &amp; Behaviour</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="home-course-list">
	<div class="home-course">
		<a href="{{ site.course_url }}/blood/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/blood.jpg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/blood/">Blood</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/skin/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/o2r4_po2.png">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/skin/">Skin Week</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/cardiology/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/cardiology.jpg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/cardiology/">Heart &amp; Circulation</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/respirology/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/image961.gif">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/respirology/">Respiration &amp; Airways</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/genitourinary/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/image1127.gif">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/genitourinary/">Genitourinary System</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/gastrointestinal/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/torso.jpg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/gastrointestinal/">Gastrointestinal System</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/endocrinology/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/endocrinology_rotated.gif">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/endocrinology/">Endocrine System</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/reproduction/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/reproduction.gif">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/reproduction/">Reproduction</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/musculoskeletal/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/musculoskeletal.gif">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/musculoskeletal/">Musculoskeletal System</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/emergency/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/emergency.jpeg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/emergency/">Emergency Care Week</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/neurology/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/neurology.jpg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/neurology/">Neurosciences, Ear &amp; Eye</a></div>
	</div>
	<div class="home-course">
		<a href="{{ site.course_url }}/psychiatry/">
			<div class="home-course-image-wrapper">
				<img src="https://dl.dropboxusercontent.com/u/157117/Class%20References/psychiatry.jpg">
			</div>
		</a>
		<div class="home-course-url"><a href="{{ site.course_url }}/psychiatry/">Psychiatry &amp; Behaviour</a></div>
	</div>
</div>

</body>
</html>